div.media_mediasite {
    div.iframe_container {
        position: relative;
        width: 100%;
        /* stylelint-disable-next-line declaration-no-important */
        padding-bottom: 66% !important;
        background-color: #eee;
        /* stylelint-disable-next-line function-url-scheme-disallowed-list */
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTUwJyBoZWlnaHQ9JzE1MCcgdmlld0JveD0nMCAwIDE1MCAxNTAnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+IDxjaXJjbGUgY3g9Jzc0Ljk5OTUnIGN5PSc3NScgcj0nNjIuNScgZmlsbD0nI2ZmZjEnLz4gPHBhdGggZD0nTTYwIDEwOC43NUwxMDUgNzVMNjAgNDEuMjVWMTA4Ljc1Wk03NSAwQzMzLjYgMCAwIDMzLjYgMCA3NUMwIDExNi40IDMzLjYgMTUwIDc1IDE1MEMxMTYuNCAxNTAgMTUwIDExNi40IDE1MCA3NUMxNTAgMzMuNiAxMTYuNCAwIDc1IDBaTTc1IDEzNUM0MS45MjUgMTM1IDE1IDEwOC4wNzUgMTUgNzVDMTUgNDEuOTI1IDQxLjkyNSAxNSA3NSAxNUMxMDguMDc1IDE1IDEzNSA0MS45MjUgMTM1IDc1QzEzNSAxMDguMDc1IDEwOC4wNzUgMTM1IDc1IDEzNVonIGZpbGw9JyNFRDhCMDAxMScvPiA8L3N2Zz4=");

        background-repeat: no-repeat;
        background-position: center;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    div.alert {
        margin: 0.5em 0;

        &[data-private-status="0"] {
            display: none;
        }
    }

    > ul {
        /* stylelint-disable-next-line declaration-no-important */
        margin: 0.5em 0 !important;
        /* stylelint-disable-next-line declaration-no-important */
        list-style: none !important;
        border: 1px solid #bfd2e1;
        background-color: #f2f6f9;
        padding: 10px 10px 10px 2.2em;
        font-size: 0.8em;
        font-style: normal;
        font-weight: 300;

        li {
            line-height: 1.2;

            i.fa {
                opacity: 0.9;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}