{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template media_mediasite/presentation

    TODO describe template presentation

    Example context (json):
    {
    }
}}
<div class="media_mediasite">
    <div class="iframe_container">    
        <iframe
        title="{{info}}" height="{{height}}" width="{{width}}" 
        src="https://{{baseurl}}/Play/{{presentationid}}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen="allowfullscreen"
        referrerpolicy="strict-origin-when-cross-origin">
        </iframe>
    </div>
    {{#private_status_label}}
    <div class="alert alert-{{bootstrap_alert_class}} media_mediasite_private_status" data-private-status="{{private_status}}">{{private_status_label}}</div>
    {{/private_status_label}}
    <ul class="fa-ul">
    <li><i class="fa-li fa-regular fa-lightbulb"
        aria-hidden="true"></i>If the item above doesn’t display correctly, <a
        href="https://{{baseurl}}/Play/{{presentationid}}"
        target="_blank" rel="noopener">click here to open it in a new window</a>.
        When you have finished, close the tab and you will return to this page.</li>
    </ul>
</div>